
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.note {
    animation-name: slide-down;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
    position: absolute;
    background-color: blue;
    color: white;
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slide-down {
    0% {
        transform: translate(0, -60vh);
    }
    100% {
        transform: translate(0, 60vh);
    }
}
