
:root {
    --page-height: 1100px;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    height: fit-content;
}

button {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    border: none;
    color: white;
    background-color: #1c13a3;
    position: relative;
    top: 0;
    transition: ease 300ms;
}

button:hover {
    cursor: pointer;
    top: 3px;
    background-color: #120c64;
}

table {
    width: 100%;
    border-spacing: 0;
    background-color: white;
}

th, tr:nth-child(2n) {
    background-color: #CCC;
}

td, th {
    text-align: left;
    padding: 5px;
}

#report {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

@media print {
    body > *:not(#report) {
        display: none;
    }

    #report {
        display: flex;
    }
}
