
header {
    height: 60px;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: end;
}

header a {
    color: white;
}
