
#song-library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.song {
    width: 150px;
    height: 150px;
    background-color: #CCC;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transition: ease 300ms;
    top: 0px;
    border: none;
}

.song:hover {
    top: 10px;
    cursor: pointer;
}
