
@import './library.css';
@import './header-footer.css';
@import './play.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    list-style-type: none;
}

.standard-button {
    width: fit-content;
    padding: 20px;
    font-size: 20px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    transition: ease 300ms;
    top: 0px;
    user-select: none;
}

.standard-button:hover {
    top: 3px;
    cursor: pointer;
}
