
@import './library.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

.standard-button {
    width: fit-content;
    padding: 20px;
    font-size: 20px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
    transition: ease 300ms;
    top: 0px;
}

.standard-button:hover {
    top: 3px;
    cursor: pointer;
}

#note-canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.sharp {
    color: black;
}

.note {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
    transform: translate(0, -70vh);
    position: absolute;
    color: white;
    font-size: 50px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a {
    background-color: #FF0000;
}

.b {
    background-color: #FF7F00;
}

.c {
    background-color: #FFFF00;
}

.d {
    background-color: #00FF00;
}

.e {
    background-color: #0000FF;
}

.f {
    background-color: #4B0082;
}

.g {
    background-color: #9400D3;
}

@keyframes one-left {
    0% {
        transform: translate(calc(-5/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(-5/12 * 100vw), 70vh);
    }
}

@keyframes one-right {
    0% {
        transform: translate(calc(-4/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(-4/12 * 100vw), 70vh);
    }
}

@keyframes two-left {
    0% {
        transform: translate(calc(-2/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(-2/12 * 100vw), 70vh);
    }
}

@keyframes two-right {
    0% {
        transform: translate(calc(-1/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(-1/12 * 100vw), 70vh);
    }
}

@keyframes three-left {
    0% {
        transform: translate(calc(1/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(1/12 * 100vw), 70vh);
    }
}

@keyframes three-right {
    0% {
        transform: translate(calc(2/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(2/12 * 100vw), 70vh);
    }
}

@keyframes four-left {
    0% {
        transform: translate(calc(4/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(4/12 * 100vw), 70vh);
    }
}

@keyframes four-right {
    0% {
        transform: translate(calc(5/12 * 100vw), -70vh);
    }
    100% {
        transform: translate(calc(5/12 * 100vw), 70vh);
    }
}
