
:root {
    --page-height: 1100px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#pdf {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page {
    height: var(--page-height);
    aspect-ratio: 8.5 / 11;
    box-shadow: 5px 5px 15px #000;
    padding: calc(var(--page-height) / 11);
}

table {
    width: 100%;
    border-spacing: 0;
}

th, tr:nth-child(2n) {
    background-color: #CCC;
}

td, th {
    text-align: left;
    padding: 5px;
}
