
body {
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin: 0;
}

#event-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#event-list > li {
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.days-away {
    align-items: center;
}

.days-until-text {
    font-size: 40px;
}

.event {
    gap: 20px;
}
