
:root {
    --blue: #5F9EA0;
    --gray-300: #BBBBBB;
    --gray-600: #444444;
    --gray-800: #222222;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

button {
    color: white;
    background-color: var(--gray-600);
    border: none;
    width: fit-content;
    align-self: center;
    border-radius: 50px;   
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: ease 300ms;
}

button:hover {
    cursor: pointer;
    background-color: var(--gray-800);
}

h1 {
    text-align: center;
}

p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    max-width: 500px;
    background-color: var(--gray-300);
    padding: 20px;
    border-radius: 10px;
}

form > * {
    margin: 0;
}

#event-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.days-away {
    align-items: center;
}

.days-until-text {
    font-size: 40px;
}

.event {
    padding: 20px;
    width: 100vw;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--gray-300);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
